<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if page_title %}
         {{ page_title }}
        {% endif %}
    </title>
</head>
<body>
{% block body %}{% endblock %}


```

可以看到，在``标签中使用了if判断，如果给模板传递了`page_title`变量，显示之，否则，不显示。

``标签中定义了一个名为`body`的block，用来被其他模板文件继承。

### 11.3 创建并编辑HelloWorld/templates/user_info.html
内容如下：

```
{% extends "default.html" %}

{% block body %}
{% for key in user_info %}

{{ key }}: {{ user_info[key] }}


{% endfor %}
{% endblock %}